@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {box-sizing: border box; }

body {
    background-color: #050505; 
    color: #ffffff;
    font-family: 'Rubik', sans-serif; 
    margin: 0;
    min-height: 100vh;   
}

h1, h2, h3, .nav-logo, .auth-btn, .nav-links a {
    font-family: 'Rubik', sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.trainer-tracker-navbar {
    background-color: #050505;
    border-bottom: 2px solid #ff6200; 
    padding: 1rem 2rem; 
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    max-width: 1300px; 
    margin: 0 auto; 
}



.nav-links {
    display: flex; 
    list-style: none; 
    gap: 2rem;
    margin: 0; 
    padding: 0;
}

.nav-auth {
    display: flex; 
    align-items: center;
    gap: 1rem;
}

