body {
    background-color: #050505; 
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif; 
    margin: 0;
    min-height: 100vh;   
}

.trainer-tracker-navbar {
    background-color: #050505;
    border-bottom: 2px solid #ff6200; 
    padding 1rem 2rem; 
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align
}