<nav class="trainer-tracker-navbar">
    <div class="nav-container">
    <a href="/" class="nav-logo">TrainerTracker</a>
    
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
    
    <% if (user) { %>
        <li><a href="/trainers">My Trainers</a></li>
        <li><a href="/trainers/all">All Trainers</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="/trainers/new">Add New</a></li>
    <% } else { %>
        <li><a href="/browse">Browse</a></li>
        <li><a href="/community">Community</a></li>
    <% } %>
    </ul>

    <div class="nav-auth">
    <% if (user) { %>
        <span class="user-greeting">Hello, <%= user.username %>!</span>
        <a href="/auth/sign-out" class="auth-link">Sign Out</a>
    <% } else { %> 
        <a href="/auth/sign-in">Sign In</a>
        <a href="/auth/sign-up" class="auth-btn">Join</a>
    <% } %>
    </div>
   </div>
</nav>
