<nav>
    <% if (user) { %>
    <a href="/auth/sign-out">Sign Out</a>
    <a href="/trainers/index.ejs">All Trainers</a>
    <% } else { %>
    <a href="/auth/sign-up">Create Account</a>
    <a href="/auth/sign-in">Sign In</a>
    <% } %>
</nav>