<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Community | TT</title>
</head>
<body>
      <%- include('./partials/navbar.ejs') %>

      <div class="page-container">
        <header class="index-header">
            <h1>The <span>Community</span></h1>
            <p class="owner-status">See all members within our community!</p>
        </header>

        <div class="central-img">
            <img src="https://cdn.eventtia.com/event_files/202447/original/about-banner?1734444543" alt="Female Running Event" class="community-img">
            <div class="img-overlay"></div>
        </div>

        <div class="community-grid"> 
            <% communityUsers.forEach(communityUser => { %>
                <div class="member-card">
                    <div class="member-icon">👤</div>
                    <h3><%= communityUser.username %></h3>
                </div>
        <% }) %>
        </div>

        <div class="show-actions">
            <a href="/" class="view-btn">Home</a>
        </div>
    </div>
        <%- include('./partials/footer') %>
</body>
</html>