<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>TrainerTrack Community</title>
</head>
<body>
      <%- include('./partials/navbar.ejs') %>
      <h1>TrainerTrack Community</h1>
      <p>A list of all members in our hub:</p>

      <ul>
        <% communityUsers.forEach(communityUser => { %>
            <li>
                <%= communityUser.username %>
            </li>
        <% }) %>
      </ul>

      <a href="/">Return to Home</a>
</body>
</html>