<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= trainer.name %>/title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Edit my trainer entry</h1>

    <form action="trainers/<%= trainers._id%>?_method=PUT" method="POST">
        <label for="nickname">Trainer Nickname</label>
        <input type="text" name="nickname" id="nickname" />

        <label for="brand">Trainer Brand</label>
        <input type="text" name="brand" id="brand" />

        <label for="model">Trainer Model</label>
        <input type="model" name="model" id="model" />

        <label for="raceType">Type of running</label>
        <input type="text" name="raceType" id="raceType" />

        <label for="price">Price</label>
        <input type="number" name="price" id="price" min="0" />

        <label for="rating">Rating</label>
        <input type="number" name="rating" id="rating" min="0" />
    
    </form>
</body>
</html>