<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Trainers</title>
</head>
    <%- include('./partials/navbar.ejs') %>
<body>
    <h1>Here's a run-down of all trainers!</h1>
</body>
</html>