<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>All Trainers</title>
</head>
<body>
     <%- include('../partials/navbar.ejs') %>
     <% if (typeof listType !== 'undefined' && listType === 'my-trainers') { %>
        <h1>Here's a run-down of your trainers!</h1>
    <% } else { %>
        <h1>Here's a run-down of all trainers!</h1>
    <% } %>

    <ul>
        <% trainers.forEach(trainer => { %>
            <li>Trainer owned by <%= trainer.owner.username %></li>
            <a href="/trainers/<%= trainer._id %>">View more details</a>
        <% }); %>
    </ul>

</body>
</html>