<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Add New Trainer</title>
</head>
  <%- include('../partials/app-shell') %>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="page-container">
    <h1>Add New Trainer</h1>

    <form action="/trainers" method="POST" class="trainer-form-wrapper">
        
    <div class="form-fields">
        <label for="nickname" class="form-label">Trainer Nickname</label>
        <input type="text" name="nickname" id="nickname" class="form-input" />
    </div>
        
    <div class="form-fields">
        <label for="brand" class="form-label">Trainer Brand</label>
        <input type="text" name="brand" id="brand" class="form-input"/>
    </div>

    <div class="form-fields">
        <label for="model" class="form-label">Trainer Model</label>
        <input type="text" name="model" id="model" class="form-input"/>
    </div>

    <div class="form-fields">
        <label for="terrainType" class="form-label">Terrain Type</label>
        <input type="text" name="terrainType" id="terrainType" class="form-input"/>
    </div>

    <div class="form-fields">
        <label for="price" class="form-label">Price</label>
        <input type="number" name="price" id="price" min="0" class="form-input"/>
    </div>

    <div class="form-fields">
        <label for="rating" class="form-label">Rating</label>
        <input type="number" name="rating" id="rating" min="0" max="5" class="form-input"/>
    </div>

        <button type="submit" class="auth-btn">Add Trainer</button>
    </form>
    </div>
</body>
</html>