<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Trainer</title>
</head>
    <%- include('../partials/navbar.ejs') %>
<body>
    <h1>Add New Trainer</h1>
    <form action="/trainers" method="POST">
        <label for="trainerBrand">Trainer Brand</label>
        <input type="text" name="trainerBrand" id="trainerBrand" />

        <label for="raceType">Type of running</label>
        <input type="text" name="raceType" id="raceType" />

        <label for="price">Price</label>
        <input type="number" name="price" id="price" min="0" />
        
        <button type="submit">Add Trainer</button>
    </form>
</body>
</html>